<div class="upload-card">
  <div class="upload-card__head">
    <img class="upload-card__head-img" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" >
    <div class="upload-card__head-text">
      <h3 class="upload-card__head-title">Titulo Empresa</h3>
      <p class="upload-card__head-location">Ubicacion</p>
    </div>
    <button class="upload-card__remove">X</button>
  </div>
  <p class="upload-card__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo architecto molestiae .
  </p>
  <div class="upload-card__footer">
    <p class="upload-card__footer-type">Tiempo Completo</p>
    <p class="upload-card__footer-time">Hace 1 hora</p>
  </div>
</div>
