<div class="upload-form">
  <form class="upload-form__form">
    <h2 class="upload-form__title">Publicar Oferta</h2>
    <div class="upload-form__group">
      <div class="upload-form__input">
        <p class="upload-form__input-text">Titulo</p>
        <input class="upload-form__input-input" type="text" placeholder="Nombre...">
      </div>
      <div class="upload-form__input">
        <p class="upload-form__input-text">Ubicacion</p>
        <input class="upload-form__input-input" type="text" placeholder="Nombre...">
      </div>
    </div>
    <div class="upload-form__input-select">
      <div class="upload-form__input">
        <p class="upload-form__input-text">Tipo Empleo</p>
        <select class="upload-form__select">
          <option value="user">Tiempo Completo</option>
          <option value="company">Medio Tiempo</option>
          <option value="company">Contratista</option>
          <option value="company">Pasantia</option>
        </select>
      </div>
      <div class="upload-form__input">
        <p class="upload-form__input-text">Modalidad</p>
        <select class="upload-form__select">
          <option value="user">Presencial</option>
          <option value="company">Remoto</option>
          <option value="company">Hibrido</option>
        </select>
      </div>
    </div>
    <div class="upload-form__group">
      <div class="upload-form__input">
        <p class="upload-form__input-text">Salario</p>
        <input class="upload-form__input-input" type="password" placeholder="Contraseña...">
      </div>
      <div class="upload-form__input">
        <p class="upload-form__input-text">Experiencia</p>
        <input class="upload-form__input-input" type="password" placeholder="Contraseña...">
      </div>
    </div>

    <div class="upload-form__input">
      <p class="upload-form__input-text">Descripción</p>
      <textarea class="upload-form__textarea"></textarea>
    </div>
    <button class="upload-form__btn">Publicar</button>
  </form>
</div>
