<section (click)="changeModalState()" class="details">
  <div class="details__container">
    <div class="details__main">
      <div class="details__head">
        <img class="details__head-img"
          src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA">
        <div class="details__head-text">
          <h3 class="details__head-title">Titulo Empresa</h3>
          <p class="details__head-location">Ubicacion</p>
        </div>
      </div>
      <div class="details__more">
        <div class="details__more--det">
          <p class="details__title">Aplicantes</p>
          <p>15</p>
        </div>
      </div>
    </div>
    <div class="details__info">
      <div class="details__info--box">
        <p class="details__title">Tipo</p>
        <p>Tiempo Completo</p>
      </div>
      <div class="details__info--box">
        <p class="details__title">Modalidad</p>
        <p>Presencial</p>
      </div>
      <div class="details__info--box">
        <p class="details__title">Experiencia</p>
        <p>1 año</p>
      </div>
      <div class="details__info--box">
        <p class="details__title">Salario</p>
        <p>1000 usd</p>
      </div>
    </div>
    <div class="details__description">
      <p class="details__title">Descripción:</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus iusto maxime
        voluptate accusantium unde placeat et dolorem ut facilis molestiae!
        <br><br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus iusto maxime
        voluptate accusantium unde placeat et dolorem ut facilis molestiae!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus iusto maxime
        voluptate accusantium unde placeat et dolorem ut facilis molestiae!
        <br><br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus iusto maxime
        voluptate accusantium unde placeat et dolorem ut facilis molestiae!
      </p>
    </div>
    <button class="details__btn">Aplicar al empleo</button>
  </div>
  <button (click)="changeModalState()" class="details__close-btn">X</button>
</section>
