<section class="details">
  <div class="details__container">
    <div class="details__main">
      <div class="details__head">
        <img class="details__head-img" [src]="jobDetails.user.img.url">
        <div class="details__head-text">
          <h3 class="details__head-title">{{jobDetails.title}}</h3>
          <p class="details__head-location">{{jobDetails.location}}</p>
        </div>
      </div>
      <div class="details__more">
        <div class="details__more--det">
          <p class="details__title">Aplicantes</p>
          <p>+15</p>
        </div>
      </div>
    </div>
    <div class="details__info">
      <div class="details__info--box">
        <p class="details__title">Tipo</p>
        <p>{{jobDetails.type}}</p>
      </div>
      <div class="details__info--box">
        <p class="details__title">Modalidad</p>
        <p>{{jobDetails.modality}}</p>
      </div>
      <div class="details__info--box">
        <p class="details__title">Experiencia</p>
        <p>{{jobDetails.experience}} años</p>
      </div>
      <div class="details__info--box">
        <p class="details__title">Salario</p>
        <p>${{jobDetails.salary}} USD</p>
      </div>
    </div>
    <div class="details__description">
      <p class="details__title">Descripción:</p>
      <p>
        {{jobDetails.description}}
      </p>
    </div>
    <button class="details__btn">Aplicar al empleo</button>
  </div>
  <button (click)="changeModalState()" class="details__close-btn">X</button>
</section>
