<section class="jobs">
  <div class="jobs__details">
    <p class="jobs__result">Trabajos Encontrados: <span class="span-active">{{jobs.length}}</span> Resultados</p>
    <div class="jobs__filter">
      <label for="">Ordenar por:</label>
      <select class="jobs__select">
        <option value="reciente">Más Reciente</option>
        <option value="antiguo">Más Antiguo</option>
      </select>
    </div>
  </div>
  <div class="jobs__container">
    <div *ngFor="let job of jobs">
      <app-job-card [job]="job"/>
    </div>
  </div>
</section>
