<section class="jobs">
  <div class="jobs__details">
    <p class="jobs__result">Trabajos Encontrados: <span class="span-active">100</span> Resultados</p>
    <div class="jobs__filter">
      <label for="">Ordenar por:</label>
      <select id="">
        <option value="reciente">Más Reciente</option>
        <option value="antiguo">Más Antiguo</option>
      </select>
    </div>
  </div>
  <div class="jobs__container">
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
    <app-job-card/>
  </div>
</section>
