<div class="recommended">
  <h2 class="recommended__title">Trabajos Recomendados</h2>
  <div class="recommended__container">
    <button class="recommended__job">FrontEnd</button>
    <button class="recommended__job">BackEnd</button>
    <button class="recommended__job">Programador web</button>
    <button class="recommended__job">VueJS</button>
    <button class="recommended__job">Spring Boot</button>
    <button class="recommended__job">Phyton</button>
    <button class="recommended__job">Programador Android</button>
    <button class="recommended__job">React</button>
    <button class="recommended__job">Angular</button>
    <button class="recommended__job">Nodejs</button>
    <button class="recommended__job">Full-Stack</button>
  </div>
</div>
