<div class="job-filters">
  <h3 class="job-filters__title">Filtros</h3>

  <div class="job-filters__container">
    <div class="job-filters__section-1">
      <h4 class="job-filters__subtitle">Tipo de trabajo</h4>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Tiempo Completo</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Medio Tiempo</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Contratista</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Pasantia</label>
      </div>
    </div>

    <div class="job-filters__section-1">
      <h4 class="job-filters__subtitle">Modalidad</h4>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Presencial</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Remoto</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Hibrido</label>
      </div>
    </div>

    <div class="job-filters__section-2">
      <h4 class="job-filters__subtitle">Experiencia</h4>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>Sin Experiencia</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>1 Año</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>1 - 2 Años</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>2 - 5 Años</label>
      </div>

      <div class="job-filters__type">
        <input type="checkbox" name="job-type">
        <label>+5 Años</label>
      </div>
    </div>
  </div>

</div>
