<div class="job-card">
  <div class="job-card__head">
    <img class="job-card__head-img" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" >
    <div class="job-card__head-text">
      <h3 class="job-card__head-title">Titulo Empresa</h3>
      <p class="job-card__head-location">Ubicacion</p>
    </div>
  </div>
  <p class="job-card__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo architecto molestiae .
  </p>
  <div class="job-card__footer">
    <p>Tiempo Completo</p>
    <p>Hace 1 hora</p>
  </div>
</div>
