<div class="job-card" (click)="changeModalState()">
  <div class="job-card__head">
    <img class="job-card__head-img" [src]="job.user.img.url" >
    <div class="job-card__head-text">
      <h3 class="job-card__head-title">{{job.title}}</h3>
      <p class="job-card__head-location">{{job.location}}</p>
    </div>
  </div>
  <p class="job-card__description">
    {{loadDescription(job.description)}}...
  </p>
  <div class="job-card__footer">
    <p class="job-card__footer-type">{{job.type}}</p>
    <p class="job-card__footer-time">Hace 1 hora</p>
  </div>
</div>
